<div class="header {{mode}}">
  <button class="header-switcher" (click)="toggleHeaderMode()" kendoButton [primary]="true" icon="hamburger">
    <ng-template [ngIf]="isDefaultMode()">
      oh boy, too huge header
    </ng-template>
    <ng-template [ngIf]="isSmallMode()">
      oh crap, get me back to huge header
    </ng-template>
  </button>
  <h1 class="main-title">
    <span class="salty" data-text="Tour of P">Tour of P</span>
    <span data-text="onnies">onnies</span>
  </h1>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav>
</div>

<div class="content-wrapper">
  <section class="main-section">
    <router-outlet></router-outlet>
  </section>
</div>

<app-messages></app-messages>

<!-- add mobile nav -->
<!-- <kendo-bottomnavigation [items]="items" positionMode="fixed" fill="solid" themeColor="warning">
</kendo-bottomnavigation> -->

<!-- themeColor="warning" -->
<!-- positionMode="sticky" -->

<kendo-bottomnavigation [items]="items" fill="solid" >
  <ng-template kendoBottomNavigationItemTemplate let-item>
    <div [routerLink]="item.path" class="k-bottom-nav-link">
      <kendo-icon [name]="item.icon" size="medium"></kendo-icon>
      <span>{{item.text}}</span>
    </div>
  </ng-template>
</kendo-bottomnavigation>

