/* AppComponent's private CSS styles */
@import 'src/assets/colors.scss';

// TODO Get custom vars working
// Customizing KUI Base Variables
// $base-bg: $hot-pink !default;
// @import "~@progress/kendo-theme-default/scss/dist/all.scss";

.content-wrapper {
  margin: 40px;
  display: flex;
  gap: 20px;
}

@media (orientation: portrait or landscape) {
  .content-wrapper {
    flex-wrap: wrap;
  }
}

.main-section {
  flex: 3 0 0;
  display: block;
}

.main-title {
  padding-top: 115px;
  background: url("../assets/images/retro-mlp/my-littt-ponies-rainbow.png") center -1rem no-repeat;
  margin-bottom: 20px;

  .small & {
    padding-top: 0;
    background: none;
    font-size: 3rem;
    line-height: 1.33;
  }
  * {
    color: $hot-pink;
  }
}

nav {
  display: flex;
  justify-content: space-evenly;

  a {
    z-index: 3;
    text-decoration: none;
    color: $hot-pink;


    &:hover, &.active {
      color: $dark-pink;
    }
  }
}

code {
  font-family: monospace;
  font-size: 18px;
  line-height: 22px;
  background-color: deepskyblue;
  user-select: all;
  cursor: default;
}

code::after {
  content: '';
  display: block;
  margin-bottom: 10px;
}

/* Our Styles as we add Kendo UI */

.header {
  background: $light-blue;
  background: linear-gradient(0deg, $light-blue 0%, #e7f9fd 49%, #f7f7f7 100%);
  border-bottom: 2px solid $light-blue;
  text-align: center;
  padding: 1.5rem 0;


  &.small {
    padding: .5rem 0;
  }

  img {
    $img-width: 335px;

    position: absolute;
    top: 0;
    left: calc(50vw - #{$img-width});
    z-index: 0;
  }
}

.header-switcher {
  position: absolute;
  right: .5rem;
  top: .5rem;
  &.k-button {
    font-size: .75rem;
  }
}

.k-card-body {
  margin: 1rem;
  padding: 0;
  overflow: hidden;
}

// customizing the bottomNav
kendo-bottomnavigation.k-bottom-nav-solid.k-bottom-nav-primary {
  display: none;
}

@media (orientation: portrait)  {
  kendo-bottomnavigation.k-bottom-nav-solid.k-bottom-nav-primary {
    display: flex;
  }
}

.k-bottom-nav-item > .k-bottom-nav-link {
  flex-direction: column;
}

// &:hover, &:active {
.k-bottom-nav-item.k-state-selected > .k-bottom-nav-link {
  color: $muted-bg;
}

.k-bottom-nav-solid.k-bottom-nav-primary {
  background-color: $hot-pink;
}
